<h1>Alle Seiten</h1>

<% content_for :sidebar do %>
  <div id="category_list">
    <ul class="selection">
      <% @categories.each do |c| %>
        <li id="category_<%= c.id %>"><%= link_to( h(c.name), 
                         :controller => 'pages', 
                         :action => 'category', :id => c)  %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<table>
<% @pages.each do |page| %>
  <tr>
    <td><%= link_to(h(page.title), :action => 'show', :id => page) %><br/></td>
    <td><%= button_to "Löschen", {:action => 'destroy', :id => page} %></td>
  </tr>
<% end %>
</table>
<p>
  <%= link_to "Neue Seite", :action => 'new' %>
</p>