<h2><%= h @page.title %></h2>

<%= link_to "Bearbeiten", :action => 'edit', :id => @page %>

<%= link_to "Liste", :action => 'index' %>

<p>Kategorie: <%= h @page.category %></p>
<p><%= h @page.body %></p>

